.box-red {
    border: 2px solid red;
    background: rgba(255,0,0,0.1);
    padding: 1rem;
    border-radius: 0.3rem;
}

.box-yellow {
    border: 2px solid goldenrod;
    background: rgba(255,255,0,0.1);
    padding: 1rem;
    border-radius: 0.3rem;
}

.box-green {
    border: 2px solid green;
    background: rgba(0,128,0,0.1);
    padding: 1rem;
    border-radius: 0.3rem;
}

.box-blue {
    border: 2px solid blue;
    background: rgba(0,0,255,0.1);
    padding: 1rem;
    border-radius: 0.3rem;
}
